/* dashboard.css */

/* General Body and Container Styles */
body {
  background-color: #f7fafc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Header Section */
.header {
  background-color: #f97316;
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header img {
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

.header p {
  font-size: 0.875rem;
  color: #e5e7eb;
}
.post-art-btn{
  padding: 10px 15px;
  margin-top:15px;
  background-color : black;
  color:white;
}

/* Table Section */
.table-container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  overflow: hidden;
  margin-top: 2rem;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 1rem;
  text-align: left;
}

td img{
    height: 50px;
    width: 50px;
}
.table-container th {
  background-color: #f3f4f6;
}

.table-container td {
  border-bottom: 1px solid #e5e7eb;
}

.table-container .actions button {
  color: #ef4444;
  font-size: 0.875rem;
  cursor: pointer;
}

.table-container .actions button:hover {
  color: #dc2626;
}
